section {
  width: 80%;
  border: solid 1px gray;
  margin: 2em auto;
  padding: 1em;
}

/* リソースを表示するテーブル */

table,
th,
td {
  border: solid 1px gray;
  border-collapse: collapse;
  padding: 0.5ex;
}

table {
  min-width: 500px;
  margin: 3em auto 3em;
}

th {
  background-color: beige;
  font-weight: bold;
}

td:first-child {
  text-align: center;
}

/* フォームをtableレイアウトする */

form {
  display: table;
  border: solid 1px gray;
  margin: 1em auto;
  padding: 1ex;
}

.row {
  display: table-row;
}

.row > :is(label, input, .radio) {
  display: table-cell;
}

.row label {
  text-align: right;
  padding-right: 1ex;
}

.cap {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
  margin-top: 1ex;
}

#delete {
  margin: 3em auto 1em;
  text-align: center;
}

#deleteAll {
  text-align: right;
  margin-right: 5%;
}
